 /*--------------------------------------------------------- 
# SECTION : Styles généraux
---------------------------------------------------------*/ 

@font-face {
    font-family: bank_gothic_light;
    src: url(/assets/polices/Bank\ Gothic\ Light\ Regular.otf) format(opentype);

    font-family: bank_gothic_medium;
    src: url(/assets/polices/bank\ gothic\ medium\ bt.ttf) format(opentype);

    font-family: bank_gothic_bold;
    src: url(/assets/polices/BankGothic\ Bold.ttf) format(opentype);

}
* {
  box-sizing: border-box;
}

body {
  margin:0;
} 

:root {
  --red : #E20A16; 
  --grisfonce : #4D4D4D;
  --grispale: #C8C8C8;
}



/*---------------------------------------------------------- 
# SECTION : En-tête (nav, log etc)
----------------------------------------------------------*/ 

ul {
    margin:0;
    padding:0;
    display: flex;
    width: 100vw;
   /* height: 250px;*/
    min-width: 393px;
    min-height: 150px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    font-family: 'bank_gothic_bold', sans-serif;
    background-color: black;    
  }
  
  
  ul, li {
    font-size: 25px;
    color: white;
    list-style: none;
  }

  header li {
    display: flex;
    width: 20vw;
    max-width: 200px;
    min-width: 150px;
    aspect-ratio: 2/1;
    justify-content: space-around;
    align-items: center;
  
  }

  ul, li, a {
    text-decoration: none;
    color: white;
  }

  li:hover {
    background-color: var(--grisfonce);
  }

li:hover:nth-child(3) {
  background-color: black;
}

  

  img {
    width: 100%;
    max-width:750px;
    min-width: 200px;
    /*height: 250px;*/
  }


  footer {
    border:2px solid red;
    display: flex;

    align-items: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
  }

  .liste {
    width: 100vh;
  }



/*---------------------------------------------------------- 
# SECTION : Héros
----------------------------------------------------------*/ 

/*---------------------------------------------------------------- 
# ADAPTATION PAR MEDIA QUERIES (Responsiveness) pour grands écrans

Car ce qui précède les media queries est stylisé pour mobile
en premier (mobile first).
----------------------------------------------------------------*/ 