@font-face {
    font-family: 'poppins_light';
    src: url(/assets/polices/Poppins-Light.ttf) format('opentype');
}
@font-face {
    font-family: 'poppins_medium';
    src: url(/assets/polices/Poppins-Medium.ttf) format('opentype');
}
@font-face {
    font-family: 'poppins_bold';
    src: url(/assets/polices/Poppins-Regular.ttf) format('opentype');
}

/*DÉBUT PAGE ASSISTANCE MOBILE*/

/*texte recherche par jeux, centrer plus mettre la font*/
.rechercherjeux {
    display: flex;
    justify-content: center;
    font-family: 'bank_gothic_light', sans-serif;
}

/*taille de la loupe dans la barre de recherche*/
#loupe {
    height: 35px;
}

/*centrer la barre de recherche*/
.barre-de-recherche {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

/*styliser l'ecriture dans la barre de recherche*/
#rechercher::placeholder {
    color: black;
    text-transform: uppercase;
    padding-left: 5px;
}

/*taille de la barre de recherche, couleur, ajout d'une bordure*/
#rechercher {
    height: 48px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 5px solid black;
    font-size: large;
    padding-left: 5px;
}

/*couleur + bordure pour le bouton loupe*/
button {
    background-color: rgba(255, 255, 255, 0);
    border: 5px solid black;
}

/*centrer le texte "rechercher par console", appliquer font, ajout d'un margin*/
.rechercherconsole {
    display: flex;
    justify-content: center;
    font-family: 'bank_gothic_light', sans-serif;
    margin-top: 30px;
}

/*centrer la div contenant les carrés des consoles et de jeux, le mettre un par dessus l'autre en column, taille des div*/
.jeux_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 100%;
}

/*ajout d'une bordure a chaque image, taille des images, object fit pour bien placer les images dans leur conteneur (faire en sorte qu'elles apparaissent au complet, mais ne depassent pas)*/
.platforme {
    display: flex;
    align-self: center;
    border: 5px solid black;
    margin: 10px;
    height: 10vh;
    width: 20vh;
    object-fit: contain;
}

/*Centrer les boutons 3 petits points (...)*/
.plus_container {
    display: flex;
    justify-content: center;
}

/*ajouter une bordure aux boutons, créer un espace entre eux et leur bordure */
.plus {
    border: 5px solid black;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

/*centrer le texte "rechercher franchise" ajout d'un font, ajout de margin pour faire de l'espace*/
.rechercherfranchise {
    display: flex;
    justify-content: center;
    font-family: 'bank_gothic_light', sans-serif;
    margin-top: 30px;
}

/*ajout d'une bordure a chaque image, taille des images, object fit pour bien placer les images dans leur conteneur (faire en sorte qu'elles apparaissent au complet, mais ne depassent pas)*/
.franchise {
    display: flex;
    align-self: center;
    border: 5px solid black;
    margin: 10px;
    height: 10vh;
    width: 20vh;
    object-fit: cover;
}

/*placer le titre de chaque jeu au desus de son image, centré, en blanc, bold, 0 opacité, transition pour faire apparaitre le texte (monter opacité)*/
.franchise_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

/*monter l'opacité du texte sur les images afin de la faire apparaitre quand on hover les images*/
.franchise_box:hover .franchise_text {
    opacity: 1;
}

/*permet de placer les textes (qui sont position absolute) par dessus les images*/
.franchise_box {
    position: relative;
}

/*lever la luminosité des image lors du hover*/
.franchise_box:hover .franchise {
    filter: brightness(50%);
}
/*FIN PAGE ASSISTANT MOBILE*/

/*DÉBUT PAGE JEUX MOBILE*/

.textDebut_container {
    /*centrer le container du premier paragraphe*/
    display: flex;
    justify-content: center;
    margin: 5px;
}

/*etablir la largeur, centrer le texte dans le container, ajout d'une bordure, ajout d'une police*/
.textDebut {
    width: 50vw;
    text-align: center;
    border: 5px solid black;
    padding: 20px;
    font-family: "poppins_light";
    margin-top: 5px;
}

/*container de l'image du jeu, centré, margin pour créer un espace avec les autres éléments*/
.shrek_container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

/*image du jeu, taille + bordure*/
.shrek {
    height: 15vh;
    width: 50vw;
    border: 5px solid black;
}

/*container du dernier paragraphe, etablir la largeur, centrer le texte, ajout d'une bordure, ajout d'une police*/
.textFin {
    width: 50vw;
    text-align: center;
    border: 5px solid black;
    padding: 20px;
    font-family: "poppins_light";
    margin-bottom: 5px;
}

/*containers des texte bandes annonces et newletters, etablir largeur, centrer le texte a l'interieur, ajout de bordures + police*/
.textBANL {
    width: 50vw;
    text-align: center;
    border: 5px solid black;
    padding: 20px;
    font-family: "poppins_light";
}

/*placer les container bande annonce et newsletter un au dessus de l'autres (column) + les centrés*/
.BA_NL {
    display: flex;
    align-items: center;
    flex-direction: column;

}
/*FIN PAGE JEUX MOBILE*/

@media (min-width: 750px) {

    /*DÉBUT PAGE ASSISTANT DESKTOP*/
    
    /*texte recherche par jeux, centrer plus mettre la font*/
    .rechercherjeux {
        display: flex;
        justify-content: center;
        font-family: 'bank_gothic_light', sans-serif;
    }
    
    /*centrer la barre de recherche*/
    .barre-de-recherche {
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    
    /*styliser l'ecriture dans la barre de recherche*/
    #rechercher::placeholder {
        color: black;
        font-size: 30px;
        text-transform: uppercase;
        padding-left: 5px;
    }
    
    /*taille de la barre de recherche, couleur, ajout d'une bordure*/
    #rechercher {
        height: 48px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        border: 5px solid black;
        font-size: large;
        padding-left: 5px;
    }

    /*couleur + bordure pour le bouton loupe*/
    button {
        background-color: rgba(255, 255, 255, 0);
        border: 5px solid black;
    }
    /*taille de la loupe dans la barre de recherche*/
    #loupe {
        height: 35px;
    }

    /*centrer le texte "rechercher par console", appliquer font, ajout d'un margin*/
    .rechercherconsole {
        display: flex;
        justify-content: center;
        font-family: 'bank_gothic_light', sans-serif;
        margin-top: 30px;
    }

    /*centrer la div contenant les carrés des consoles et de jeux, les mettre un à coté de l'autre en column, taille des div*/
    .jeux_container {
        display: flex;
        flex-direction: row;
        height: 20vh;
        width: 100%;
        justify-content: center;
    }
    
    /*ajout d'une bordure a chaque image, taille des images, object fit pour bien placer les images dans leur conteneur (faire en sorte qu'elles apparaissent au complet, mais ne depassent pas)*/
    .platforme {
        border: 5px solid black;
        margin: 10px;
        height: 15vh;
        width: 20vw;
        object-fit: contain;
        max-width: 270px;
        min-width: 210px;
    }

    /*Centrer les boutons 3 petits points (...)*/
    .plus_container {
        display: flex;
        justify-content: center;
    }

    /*ajouter une bordure aux boutons, créer un espace entre eux et leur bordure */
    .plus {
        border: 5px solid black;
        margin-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }

    /*centrer le texte "rechercher franchise" ajout d'un font, ajout de margin pour faire de l'espace*/
    .rechercherfranchise {
        display: flex;
        justify-content: center;
        font-family: 'bank_gothic_light', sans-serif;
        margin-top: 30px;
    }

    /*ajout d'une bordure a chaque image, taille des images, object fit pour bien placer les images dans leur conteneur (faire en sorte qu'elles apparaissent au complet, mais ne depassent pas)*/
    .franchise {
        border: 5px solid black;
        margin: 10px;
        height: 15vh;
        width: 20vw;
        object-fit: fill;
        max-width: 270px;
        min-width: 210px;
    }

    /*placer le titre de chaque jeu au desus de son image, centré, en blanc, bold, 0 opacité, transition pour faire apparaitre le texte (monter opacité)*/
    .franchise_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: bold;
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 4px;
        opacity: 0;
        transition: opacity 0.3s ease;
        text-align: center;
    }

    /*monter l'opacité du texte sur les images afin de la faire apparaitre quand on hover les images*/
    .franchise_box:hover .franchise_text {
    opacity: 1;
    }

    /*permet de placer les textes (qui sont position absolute) par dessus les images*/
    .franchise_box {
    position: relative;
    }

    /*lever la luminosité des image lors du hover*/
    .franchise_box:hover .franchise {
    filter: brightness(50%);
    }

    /*FIN PAGE ASSISTANT DESKTOP*/

    /*DÉBUT PAGE JEUX DESKTOP*/
    /*centrer le container du premier paragraphe*/
    .textDebut_container {
        display: flex;
        justify-content: center;
        margin: 5px;
    }
    
    /*etablir la largeur, centrer le texte dans le container, ajout d'une bordure*/
    .textDebut {
        width: 50vw;
        text-align: center;
        border: 5px solid black;
        padding: 20px;
        min-width: 480px;
        max-width: 750px;
        margin-top: 5px;
    }
    
    /*container de l'image du jeu, centré, margin pour créer un espace avec les autres éléments*/
    .shrek_container {
        display: flex;
        justify-content: center;
        margin: 5px;
    }
    
    /*image du jeu, taille + bordure*/
    .shrek {
        height: 45vh;
        width: 50vw;
        border: 5px solid black;
        min-width: 480px;
        max-width: 750px;
    }

    /*container du dernier paragraphe, etablir la largeur, centrer le texte, ajout d'une bordure, margin pour creer un espace en bas, min et max width pour ne pas deformer l'imaage, ne pas trop grandir et/ou retrecir*/
    .textFin {
        width: 50vw;
        text-align: center;
        border: 5px solid black;
        padding: 20px;
        min-width: 480px;
        max-width: 750px;
        margin-bottom: 5px;
    }

    /*containers des textes bandes annonces et newletters, etablir largeur, centrer le texte a l'interieur, ajout de bordures + police*/
    .textBANL {
        width: 19.7vw;
        text-align: center;
        border: 5px solid black;
        padding: 20px;
        max-width: 400px;
        min-width: 240px;
        max-height: 75px;
    }

    /*placer les container bande annonce et newsletter un au dessus de l'autres (column) + les centrés*/
    .BA_NL {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    /*FIN PAGE JEUX DESKTOP*/
}


